
@{
    ViewBag.Title = "Index";
}

<h2>Reportes</h2>
<div class="row">
    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Reporte de Pacientes", "RptPaciente", "Pacientes")
        </h2>
    </div>
    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Reporte de Empleados", "RptEmpleados", "Reportes")
        </h2>
    </div>
    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Historias Clínicas", "RptHistoriaClinica", "Reportes")
        </h2>
    </div>

    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Reporte de Reserva", "RptReserva", "Reportes")
        </h2>
    </div>

    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Pacientes Deudores", "RptPacienteDeudor", "Reportes")
        </h2>
    </div>

    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Últimas Reservas (10)", "RptTop10Pacientes", "Reportes")
        </h2>
    </div>

    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Pacientes Alérgicos", "RptPacientesAlergicos", "Reportes")
        </h2>
    </div>

    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Reservas para Hoy", "RptPacientesHoy", "Reportes")
        </h2>
    </div>

    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Pacientes Frecuentes en Estética", "RptPacientesEstetica", "Reportes")
        </h2>
    </div>

    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Pacientes Frecuentes en Dermatología", "RptPacientesDerma", "Reportes")
        </h2>
    </div>

    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Pacientes con Acné", "RptAcne", "Reportes")
        </h2>
    </div>

    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Pacientes Masculinos con reservas en el servicio de Estética", "RptME", "Reportes")
        </h2>
    </div>

    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Pacientes Masculinos con reservas en el servicio de Dermatología", "RptMD", "Reportes")
        </h2>
    </div>

    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Pacientes Femeninos con reservas en el servicio de Estética", "RptFE", "Reportes")
        </h2>
    </div>

    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Pacientes Femeninos con reservas en el servicio de Dermatología", "RptFD", "Reportes")
        </h2>
    </div>
</div>